[package]
name = "cola"
version = "0.3.0"
edition = "2021"
authors = ["Riccardo Mazzarini <me@noib3.dev>"]
description = "A text CRDT for real-time collaborative editing"
documentation = "https://docs.rs/cola"
repository = "https://github.com/nomad/cola"
readme = "README.md"
license = "MIT"
keywords = ["crdt", "collaboration", "text", "editor", "tree"]
categories = ["data-structures", "text-editors", "text-processing"]
exclude = ["/.github/*", "/examples/**", "/fuzz/**", "/tests/**"]

[package.metadata.docs.rs]
features = ["serde"]
rustdoc-args = ["--cfg", "docsrs"]

[lib]
name = "cola"

[features]
encode = ["dep:bincode", "dep:sha2", "dep:serde"]
serde = ["encode", "dep:serde"]

[dependencies]
bincode = { version = "1.3", optional = true }
serde = { version = "1.0", features = ["derive"], optional = true }
sha2 = { version = "0.10", optional = true }

[dev-dependencies]
criterion = "0.5"
rand = "0.8"
rand_chacha = "0.3"
serde_json = "1"
traces = { path = "./traces" }

[[bench]]
name = "traces"
harness = false
